[submodule "kernel"]
	path = kernel
	url = https://github.com/earlytobed/kernel.git
[submodule "raspberrypi-kernel"]
	path = raspberrypi-kernel
	url = https://github.com/earlytobed/raspberrypi-kernel.git
